---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 12;
---
{% set posts = collections.posts | tripsAndStandalonePosts %}
{% set postsCount = posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Recent Posts</h1>

{% set postslist = posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "poststiles.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>More posts can be found in <a href="blog.njk">All Posts</a>.</p>
{% endif %}
