---js
const pagination = {
	data: "collections.posts",
	size: 1,
	alias: "trip",
	before: function (paginationData, fullData) {
		return this.trips(paginationData);
	}
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "{{ trip.title | safe }}",
	permalink: "{{ trip.url }}"
};
---
<h1>{{ title }}</h1>

{% set postslist = trip | tripPosts | reverse %}
{% include "postslist.njk" %}

{%- set previousItem = collections.posts | previousPostOrTrip %}
{%- set nextItem = collections.posts | nextPostOrTrip %}
{%- if nextItem or previousItem %}
<ul class="links-nextprev">
	{%- if previousItem %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousItem.url }}">{{ previousItem.title }}</a></li>{% endif %}
	{%- if nextItem %}<li class="links-nextprev-next">Next →<br><a href="{{ nextItem.url }}">{{ nextItem.title }}</a></li>{% endif %}
</ul>
{%- endif %}
