<ol reversed class="posttiles">
{%- for post in postslist | reverse %}
	<li class="posttiles-item">
		<div class="posttiles-image">
			{% if post.img %}
			<a href="{{ post.url }}"><img eleventy:ignore loading="lazy" decoding="async" src="{% imagePreviewUrl post.img %}"/></a>
			{% endif %}
		</div>
		<div  class="posttiles-link">
			<a href="{{ post.url }}">{% if post.title %}{{ post.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		</div>
		<div class="posttiles-date">
			<time datetime="{{ post.startDate | htmlDateString }}">{{ post | tripDates }}</time>
		</div>
	</li>
{%- endfor %}
</ol>
